[submodule "cbf_tracking"]
	path = cbf_tracking
	url = https://github.com/tkkim-robot/cbf_tracking.git
[submodule "DistributionallyRobustCVaR"]
	path = DistributionallyRobustCVaR
	url = https://github.com/signalkee/DistributionallyRobustCVaR.git
