[submodule "safe_control"]
	path = safe_control
	url = https://github.com/tkkim-robot/safe_control.git
[submodule "DistributionallyRobustCVaR"]
	path = DistributionallyRobustCVaR
	url = https://github.com/signalkee/DistributionallyRobustCVaR.git
